.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
}
.link:active {
  box-shadow: 0.3em 0.3em 1em rgb(5, 5, 5);
}
