/*container необходим для неизменности максимальной ширины сайта */
.container {
  width: 100%;
  max-width: 1288px; /* Ширина не больше 1264 + 24 px. размер элементов неизменный */
  margin: 0 auto; /* для центровки по горизонтали*/
  padding: 0 24px; /* чтоб не прилипали объекты по краям*/
}
